spring:
  datasource:
    url: jdbc:postgresql://postgres:UwiUOreOefKFWDimKjNMkiqAQeQxUzHL@<PRIVATE_HOST>:5432/railway
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: ${PORT:8081}
