spring:
  datasource:
    url: jdbc:postgresql://trolley.proxy.rlwy.net:51055/railway?sslmode=require
    username: postgres
    password: UwiUOreOefKFWDimKjNMkiqAQeQxUzHL
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8081}
