spring:
  datasource:
    url: jdbc:postgresql://trolley.proxy.rlwy.net:51055/railway?sslmode=require
    username: postgres
    password: UwiUOreOefKFWDimKjNMkiqAQeQxUzHL
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        # Настройки для UTF-8
        connection:
          characterEncoding: utf-8
          CharSet: utf-8
          useUnicode: true


logging:
  level:
    com:
      example:
        repository: DEBUG
        controller: DEBUG
    org:
      hibernate:
        SQL: DEBUG
        type: TRACE

server:
  port: ${PORT:8081}
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true