:root {
    --tg-theme-bg-color: #f4f4f4;
    --tg-theme-text-color: #222;
    --tg-theme-secondary-bg-color: #ffffff;
    --tg-theme-button-color: #0088cc;
    --tg-theme-button-text-color: #ffffff;
}


body {
    background: var(--tg-theme-bg-color, #f4f4f4);
    color: var(--tg-theme-text-color, #222);
    font-family: sans-serif;
    margin: 0;
    padding: 16px;
}

.title {
    margin-bottom: 10px;
}

.card {
    background: var(--tg-theme-secondary-bg-color, #fff);
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.input {
    width: 100%;
    margin: 6px 0 15px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    padding: 12px;
    background: var(--tg-theme-button-color, #0088cc);
    color: var(--tg-theme-button-text-color, #fff);
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.transaction-item {
    background: var(--tg-theme-secondary-bg-color, #fff);
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}

.delete-btn {
    margin-top: 8px;
    background: #ff5555;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 6px;
}
